@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Kalam:wght@300;400;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1 {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;

    /* Text Shadow */
    /* text-shadow: offset-x offset-y blur-radius color; */

    text-shadow: 10px 10px 5px green, 15px 15px 5px blue;
}

.box {
    font-family: "Kalam",  cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;

    background-color: #ff7f50;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */

    box-shadow: 10px 10px 10px 5px#01b6b6;
    
}

.card {
    margin-top: 80px;
    width: 200px;
    height: 100px;
    background-color: #ff7f50;
    box-shadow: 0 0 0 2px black; /* looks like a 2px border */
  }
